html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

#root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#container {
    padding: 0;
    background-color: black;
    color: #d8fff9;
    height: 100%;
    width: 100%;
}

span.xl {
    font-size:5em;
}

span.lg {
    font-size: 3.5em;
}

span.md {
    font-size: 2.5em;
}

span.sm {
    font-size: 1.75em;
}